@layout('layouts.app')
@section('content')
<main class="site-content">
    <div class="container no-top-padding">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="#">Get Involved</a></li>
            <li class="active">E-Board Interest Form</li>
        </ol>
        <aside class="col-lg-4  col-sm-12 col-xs-12 positionDescription">
            <h4> ELT Member Position Descriptions </h4>
            <ul>
                <li><a href="https://drive.google.com/file/d/1hklwAsRURMu-sVi06pRbFzr_knP0k3ZF/view?usp=sharing"><span class="material-icons file">description</span> Public Relations Chair</a></li>
                <li><a href="https://drive.google.com/file/d/159tExCqOApoyn-VfZuLOxMoiy963x_7Q/view?usp=sharing"><span class="material-icons file">description</span>Professional Development Chair</a></li>
                <li><a href="https://drive.google.com/file/d/1TBBRyCkbC54J2G4m1sGxinriRdcKL3sz/view?usp=sharing"><span class="material-icons file">description</span>Outreach Chair</a></li>
                <li><a href="https://drive.google.com/file/d/17V9PJ-sVOg-GDNOb9LYnWjJf_bHf_hKo/view?usp=sharing"><span class="material-icons file">description</span>Marketing & Social Media Chair</a></li>
                <li><a href="https://drive.google.com/file/d/1Sl5VCy-UjFUoAP1tn5QZT19-DALBdSOR/view?usp=sharing"><span class="material-icons file">description</span>Health & Wellness Chair</a></li>
                <li><a href="https://drive.google.com/file/d/1PvdKyOd7mWFb_YOM78qc5old__B02sn_/view?usp=sharing"><span class="material-icons file">description</span>Fund Development Chair</a></li>
            </ul>
        </aside>
        <div data-aidaform-widget="form-2019-12" data-url="https://sulyp.aidaform.com/sulyp-application-form" data-width="100%" data-height="500px" data-do-resize class="col-lg-8 col-sm-12 col-xs-12"></div><script>(function(){var r,d=document,gt=d.getElementById,cr=d.createElement,tg=d.getElementsByTagName,id="aidaform-embed";if(!gt.call(d,id)){r=cr.call(d,"script");r.id=id;r.src="https://embed.aidaform.com/embed.js";(d.head || tg.call(d,"head")[0]).appendChild(r);}})()</script>
    </div>
</main>
@endsection